# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                               @mayurid

# Service teams

# PRLabel: %Azure.Core
/sdk/core/                                          @tjprescott

# PRLabel: %Storage
/sdk/storage/                                       @tjprescott

# PRLabel: %Communication
/sdk/communication/                                 @sacheu @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %Azure.Identity
/sdk/identity/                                      @tjprescott

###########
# Eng Sys
###########
/eng/                                               @mitchdenny @weshaggard
/**/ci.yml                                          @mitchdenny
