# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Orphaned paths
################
# As of 2/9/2023 these paths have no owners:

# /**
# /AzureSDK.xcworkspace/

################
# Automation
################

# Git Hub integration and bot rules
/.github/                                          @jsquire @ronniegeraghty

###########
# SDK
###########

# Catch all
/sdk/                                               @mayurid

# Service teams

# PRLabel: %Azure.Core
/sdk/core/                                          @tjprescott @mpodwysocki

# PRLabel: %Communication
/sdk/communication/                                 @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %Communication - Common
/sdk/communication/AzureCommunicationCommon/        @AikoBB @maximrytych-ms @mjafferi-msft

# PRLabel: %Azure.Identity
/sdk/identity/                                      @tjprescott @mpodwysocki

# PRLabel: %EngSys
/sdk/template/                                      @benbp @weshaggard

###########
# Eng Sys
###########
/eng/                                               @benbp @weshaggard
