<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AzureCosmosDbDatabaseAccountName</key>
        <string>AZURE_COSMOS_DB_DATABASE_ACCOUNT_NAME</string>
        <key>AzureCosmosDbDatabaseAccountMasterKey</key>
        <string>AZURE_COSMOS_DB_DATABASE_ACCOUNT_MASTER_KEY</string>
    </dict>
</plist>
